.navbar-nav {
    margin-left: 70%;
    text-decoration-style: solid black;
}
.navbar-brand{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
.navbar-nav li a{
color: var(--blue);
}
.inputin{
    margin-left:0em;
}
.buttonin{
    size:10em;
    background-color: var(--orange);
    margin:1em;
}
.btn-outline-primary{
    border-radius:  50%;
    height:50px;
    width:100px;
    padding-top:10px;
}
.nav-item{
    padding-top:10px;
    padding-bottom:10px;
    font-style: oblique;
    font-weight: bold;
    
}
.navbar{
    color:black;
    background-color:rgb(255, 187, 0);
    padding-top: 30px;
    padding-bottom:30px;
}
