.proj{
    text-align: center;
    height:auto;
    width:auto; 
}
.projPicture img{
    height:200px;
    width:250px;
    transform: skew(10deg);
    border-bottom:50px solid;
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    text-align: center;
    list-style: none;
    border:  solid 5px;
    border-color: red;
    border-bottom-color: blanchedalmond; 
    border-top-color: aqua;
    border-right-color:blue;
    margin-bottom: 30px;      
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
}

.text{
    color:black;
    padding-top:100px;
    font-size: 60px;
}
.text1{
    color:black;
    padding-top:100px;
    font-size: 60px; 
}
.text2{
    color:black;
    padding-top:100px;
    font-size: 60px;
}
.text3{
    color:black;
    padding-top:100px;
    font-size: 60px;
}
.projPicture:hover .overlay{
    opacity: 1;
}
.projPicture a:hover{
    color:orange;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}
.proj h1{
    color:black;
    text-align: center;
    font-size:40px;
    font-family: cursive;
    padding-top:50px;
    padding-bottom:50px;
    border-bottom-color:grey;
    text-shadow: 1px 1px 2px black, 0 0 15px gold;
}
#projects{
    background-color:#CA2C59;  
    
}
