:root{      
        /* //add colors to default  */
        --marron: #930F05;
        --orange: #EB6A00;
        --blue: #4F2C73;
        --yellow: #EBEB00;
        --green: #0E9C0E;
        --skyblue: #36D5D5;
        --pink: #B60067;
        --purple: #6C1559;
        --brown: #804000;
        --red: #ff0000;

}